# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - '*'

pool:
  vmImage: 'windows-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'  # O la versión que uses

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install pyinstaller
  displayName: 'Instalar dependencias'

- script: |
    python calver_increment.py
  displayName: 'Actualizar versión CalVer incremental'

- script: |
    set VERSION_TAG=$(type VERSION)
    pyinstaller --onefile --windowed --name "GeneradorDocumentosFuncionales-$(type VERSION)" --icon=resources/icons/Zoo.ico --add-data "resources;resources" --add-data "app;app" --add-data "gui;gui" --add-data "msedgedriver.exe;." main.py
  displayName: 'Generar .exe con PyInstaller y versión'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'dist'
    ArtifactName: 'exe'
    publishLocation: 'Container'
